[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4

[mysqld]

skip-name-resolve

server-id = 1
log_bin = 1
binlog_format = MIXED
binlog_do_db = ${REPLICA_DB}
max_allowed_packet = 32M

character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
